<div class="jumbotron text-center" id="post-head">
	<h2 class="text-center form-heading">a post</h2>
</div>

<div class="container">
	<div class="row">

	<div class="col-xs-md text-left">
		<h2 class="show-title"> <span id="post-number">#<%= @post.id %></span> &nbsp <span class="label label-warning"><%= @post.category %></span> &nbsp <%= @post.title %></h2>
	</div>
	
	<div class="text-right">
		<h4 class="show-textarea"><strong><%= @post.user.username %></strong> &nbsp <%= @post.created_at.to_date %></h4>
	</div>
	<br>
	<br>

<div class="col-md-6 text-center">
		<% if @post.pictures[0] %>
		<p>
				<a href="<%= @post.pictures[0].photo.url %>"><%= image_tag @post.pictures[0].photo.url(:large), class:"photo-frame" %></a>
		</p>
		<% end %>
	</div>


	<div class="col-md-6 text-left">
		<p>
			<% if @post.pictures %>
				<% @post.pictures.drop(1).each do |p| %>
					<a href="<%= p.photo.url %>"><%= image_tag p.photo.url(:medium), class:"photo-frame" %></a>
				<% end %>
			<% end %>
		</p>
	</div>

	<br>
	<br>

<!--	<div class="col-md-5 text-left" id="post-show">
		<a href="<%= @post.image_url %>"><img src="<%= @post.image_url(:medium) %>"></a>
</div>
-->
	<div class="col-md-12">
		<br>	
		<br>
		<h4 class="show-textarea"><%= simple_format @post.content %></h4>
		<br>
		<br>	
		<div class="btn-group" role="group" aria-label="...">
  		<button type="button" class="btn btn-default"><a href="/market/edit/<%= @post.id %>">edit</a></button>
  		<button type="button" class="btn btn-default"><a href="/market/delete_complete/<%= @post.id %>">delete</a></button>
  		<button type="button" class="btn btn-default"><a href="/">Go back to home</a></button>
		</div>

	<hr>
	<% @post.comments.each do |comment| %>
	<p><strong><%= comment.user.username %></strong> &nbsp &nbsp <%= comment.content  %> &nbsp &nbsp<%= comment.updated_at.to_date %>
	<button type="button" class="btn btn-default"><a href="/market/delete_comment_complete/<%= comment.id %>">delete</a></button>
	</p>
	<% end %>

	<%= form_tag("/market/write_comment_complete", method: "post") do %>
		<% if !@comment_writer.nil? %>
			<%= hidden_field_tag "post_id", @post.id %>
			<p><strong><%= @comment_writer.username %></strong> &nbsp <%= text_field_tag "comment_content", nil, class: "form-comment",placeholder: "Write a comment." %> &nbsp; <%= submit_tag "Submit", class: "btn btn-default"%>
			</p>
		<% end %>	
	<% end %>

	</div>
	<div class="col-md-1">
	</div>
</div>
</div>


