<% @cuser = User.find(session[:user_id]) %>

<div class="jumbotron text-center" id="post-head">
	<h2>Write a post</h2>
</div>

<div class="container">
	<div class="row">
	
		<div class="col-md-2">
		</div>
	
		<div class="col-md-8 text-center">
			<%= form_tag("/market/write_complete", method: "post", multipart: true ) do %>
				<h3>Category:

				<% if @cuser.usertype == 2 %>
					<%= select_tag("post_category", options_for_select([["Notice", "Notice"], ['Rent/Housing', "Rent/Housing"], ['Cars/Trukcs', "Cars/Trucks"], ['Bicycles', "Bicycles"], ["Second hands", "Second hands"], ['Free topics', "Free topics"]], :selected => :option )) %>

				<% else %>
		 			<%= select_tag("post_category", options_for_select([['Rent/Housing', "Rent/Housing"], ['Cars/Trukcs', "Cars/Trucks"], ['Bicycles', "Bicycles"], ["Second hands", "Second hands"], ['Free topics', "Free topics"]], :selected => :option )) %>
				<% end %>
				</h3>

			<br>
			
				<%= text_field_tag 'post_title', nil, class: 'form-input', placeholder: "[sample] 2008 hyundai elantra with low miliege."%>
			
			<br>
			<br>
			
			<%= text_area_tag "post_content", nil , class: "form-textarea", placeholder: "[sample]
I leave Oxford soon, and I'd like to sell my neat car with only 8000 dollars.
VIN: 01234567890123456789a
transmission: automatic
odometer: 11300 miles
title: clean
type: sedan
my email is goodman@miamioh.edu. Send me message, then I will tell you my number.
Thank you :D" %>
			
			<br>
			<br>
<!--				<div class="fileUpload btn btn-primary">
					<span>Upload a image</span>
					<%= file_field_tag "image", class: "upload"%>
				</div>
-->

				<div class="fileUpload btn btn-primary">
						<span>Upload photos (up to 10)</span>
						<%= file_field_tag "photos[]", class: "upload", type: :file, multiple: true %>
				</div>

			<br>

			<div>
				<br>
				<%= submit_tag "Write a post", class: "btn btn-lg btn-block" %>
			
			<% end %>
			</div>
	
		</div>

		<div class="col-md-2">
		</div>

	</div>
</div>
