<div class="jumbotron text-center" id="post-head">
	<h2>Superuser login</h2>
	<p> Notice that unauthorized connection to superuser login session can be illegal.</p>
</div>

<br>

<div class="container text-center">
		<div class="navbar-form navbar-left">
			<%= form_tag("/users/superlogin_complete", method: "get") do %>
			<%= text_field_tag :username, params[:username], placeholder: "Superusername is required.", class: "form-input"%>
      <%= password_field_tag "auth", "", placeholder: "Authorization key must be needed.", class: "form-input" %>
<!--      <%= password_field_tag :auth, session[:auth], placeholder: "Authorization key must be needed.", class: "form-input" %> -->
      <%= submit_tag "Go super", class: "btn btn-lg btn-block" %>
    	<% end %>
		</div>
</div>



