<div class="jumbotron text-center" id="post-head">
		<h2>About <%= @user.username %></h2>
		<p> Unathorized approach could be treated illegal attempt.</p>
</div>

<div class="container">

	<h2>Username: <%= @user.username %></h2>
	<h2>Provider: <%= @user.provider %></h2>
	<h2>Uid: <%= @user.uid %></h2>
	<h2>When created: <%= @user.created_at.to_date %></h2>

	<br>
	<br>

	<button type="button" class="btn btn-lg"><a href="/users/userban/<%= @user.id %>">BAN PERMANENTLY</a></button>
	
	<button type="button" class="btn btn-lg"><a href="/users/useragent/<%= @user.id %>">MAKE HIM/HER AGENTS</a></button>

	<button type="button" class="btn btn-lg"><a href="/users/userunban/<%= @user.id %>">MAKE HIM/HER NORMAL OR UNBANNED</a></button>

</div>
